.container.mt-5
  %h1.mb-4 アカウント情報編集

  = simple_form_for [:users, current_user], url: users_account_path, method: :patch do |f|
    = f.input :address, as: :text, input_html: { rows: 2 }
    = f.input :prefecture
    = f.input :shipping_zone, as: :radio_buttons,
      collection: [['北海道・沖縄', 'hokkaido_okinawa'], ['その他', 'others']]
    = f.input :phone_number
    = f.input :allergy_notes, as: :text
    .mt-4.d-flex.justify-content-end
      = f.button :submit, '保存する', class: 'btn btn-primary'
