.container.mt-5
  - if @subscription
    %p
      現在のプラン：
      = @subscription.plan.name
      頻度
      = @subscription.frequency_text
    = link_to '新しい配送注文を作成する', new_users_subscription_delivery_path, class: 'btn btn-primary mb-3'

    - if @deliveries.any?
      %h2 配送状況一覧
      %table.table
        %thead
          %tr
            %th 配送日
            %th 食材セット
            %th 個数
            %th 状態
        %tbody
          - @deliveries.each do |d|
            %tr
              %td= d.delivery_date
              %td
                - d.meal_sets.each do |ms|
                  = ms.name
                  = tag(:br)
              %td
                = d.delivery_meal_sets.map(&:quantity).sum
              %td= d.status
    - else
      %p まだ配送注文がありません。
  - else
    %p プランが設定されていません。
    = link_to 'プランを選択する', new_users_subscription_path, class: 'btn btn-primary'
