.fs-3.mb-3
  プラン設定
= f.input :plan_id,
  collection: Plan.all.map { |p| ["#{p.name}（¥#{p.price}）", p.id] },
  as: :radio_buttons

= f.input :frequency, as: :radio_buttons
.mt-4.d-flex.justify-content-end
  = f.button :submit, class: 'btn btn-primary'
