%nav.bg-secondary.navbar.navbar-expand-lg.p-4{ data: { bs_theme: 'dark' } }
  .container-fluid
    = link_to '定期食材配信サービス', users_root_path, class: 'navbar-brand'
    .d-flex.justify-content-between.w-100
      %ul.navbar-nav
        %li.nav-item
          - subscription = current_user.subscription
          - if subscription && subscription.plan.present?
            = link_to 'プラン編集', edit_users_subscription_path(subscription), class: 'nav-link'
          - else
            = link_to 'プラン選択', new_users_subscription_path, class: 'nav-link'
        %li.nav-item
          = link_to '住所設定', users_addresses_path, class: 'nav-link'
      %ul.navbar-nav
        %li.nav-item
          = button_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link'
