= f.input :name,
          autofocus: true,
          required: true
= f.input :price,
          required: true
= f.input :included_items,
          as: :text
= f.input :weight,
          required: true
= f.input :refrigerated,
          required: true,
          as: :boolean
= f.input :allergy_info,
          as: :text
