= f.input :name,
          autofocus: true,
          required: true
= f.input :description,
          required: true
= f.input :thumbnail,
          as: :file

%h3 品目
-# TODO: 品目を追加・削除できるように
= f.simple_fields_for :meal_set_items do |ff|
  .item-row
    = ff.input :meal_id,
               collection: Meal.default_order,
               prompt: '食材を選択',
               label: '食材'
    = ff.input :quantity
