.container.mt-4
  %h1.mb-4 食材セット一覧

  .mb-3
    = link_to '食材セット登録', new_admins_meal_set_path, class: 'btn btn-primary'
    = link_to '食材一覧', admins_meals_path, class: 'btn btn-link'

  %table.table.table-striped
    %thead
      %tr
        %th セット名
        %th
    %tbody
      - @meal_sets.each do |meal_set|
        %tr
          %td= meal_set.name
          %td.d-flex.gap-2
            -# TODO: 詳細に遷移させる
            = link_to 'セット詳細', admins_meal_set_path(meal_set), class: 'btn btn-sm'
            = link_to '編集', edit_admins_meal_set_path(meal_set), class: 'btn btn-sm'

  = link_to 'ダッシュボードに戻る', admins_root_path, class: 'btn btn-link mt-3'
